.card{
    width: 200px;
    height: 250px;
    position: relative;
}

.face{
    width: 100%;
    height: 100%;

    background-color: #a7e9af;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}
.front-face img, .back-face img{
    width: 100px;
    height: auto;
}

.back-face{
    transform: rotateY(180deg);
}

.card:hover .back-face{
    transform: rotateY(0deg);
}

.card:hover .front-face{
    transform: rotateY(-180deg);
}